# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env*

# gatsby files
.cache/
public
.netlify

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# Generated Types
src/types/gatsby-types.d.ts
gatsby-types.d.ts

# Other package manager locks
package-lock.json
yarn.lock

# Lighthouse reports
*.report.html

# tsbuildinfo
*.tsbuildinfo
